@{
    ViewData["Title"] = "Index";
}
@model UserViewModel

<h1>Kullanıcı Bilgileri</h1>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Kullanıcı Adı</th>
        <th>Email</th>
        <th>Telefon No.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <img src="pictures/@Model.PictureUrl" height="100"/>
        </td>
        <td>@Model.UserName</td>
        <td>@Model.Email</td>
        <td>@Model.PhoneNumber</td>
    </tr>
    </tbody>
</table>