
@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeViewModel

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Parolayı Değiştir</h1>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

        <form asp-controller="Member" asp-action="PasswordChange" method="post">

            <div class="mb-3">
                <label class="form-label" asp-for="OldPassword"></label>
                <input type="password" class="form-control" asp-for="OldPassword">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="NewPassword"></label>
                <input type="password" class="form-control" asp-for="NewPassword">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="NewPasswordConfirm"></label>
                <input type="password" class="form-control" asp-for="NewPasswordConfirm">
                <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
            </div>
            <button type="submit" class="btn btn-primary">Parolayı Değiştir</button>
        </form>
    </div>
</div>